# RStudio project files
*.Rproj
.Rproj.user/*
.Rhistory
.RData

# directories with separate file for every patient
data/pcp/aseg.csv/*
data/pcp/aseg.stats/*
data/pcp/lh.aparc.csv/*
data/pcp/lh.aparc.stats/*
data/pcp/rh.aparc.csv/*
data/pcp/rh.aparc.stats/*
data/pcp/freesurfer_raw_data.tar
data/pcp/out/*
